## Python Loops
- For loop
- While loop - Executes until the condition becomes **False**

# For Loop
- Many objects in Python are “iterable”, meaning we can iterate over every element in the object.
- Such as every element in a list or every character in a string.
- We can use for loops to execute a block of code for every iteration.
- The term iterable means you can “iterate” over the object.
- For example you can iterate over every character in a string, iterate over every item in a list, iterate over every key in a dictionary.

In [9]:
i = 0
while i <= 3:
    print("Iteration: ", i)
    print("Line 1")
    print("Line 2")
    i = i + 1 # 1

Iteration:  0
Line 1
Line 2
Iteration:  1
Line 1
Line 2
Iteration:  2
Line 1
Line 2
Iteration:  3
Line 1
Line 2

In [11]:
i = 0
if i <= 3:
    print("Iteration: ", i)
    print("Line 1")
    print("Line 2")
    i = i + 1 # 1

Iteration:  0
Line 1
Line 2

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
# Even numbers between 1 to 50 --> number exactly divisible by 2 is even -- num % 2 == 0
for i in range(50):
    if i % 2 == 0: # Even number
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [33]:
1004 % 2 == 0 # Even number : condition is true

True

In [43]:
23 % 2 == 0 # Odd number: condition fails

False

In [27]:
23 % 2

1

In [29]:
1 == 0

False

In [57]:
# Printing odd numbers between 1 to 50
for i in range(50):
    if i % 2 != 0: # Odd number
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [81]:
# Printing odd numbers between 1 to 50
for i in range(50):
    if i % 2 != 0: # Odd number
        print(i, end=' ') # \t

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [47]:
print??

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [71]:
print("Hi \n\nall\tI hope you are enjoying this class")
print("****")

Hi

all	I hope you are enjoying this class
****

In [83]:
print("Hi \n\nall\tI hope you are enjoying this class", end=' ')
print("****")

Hi

all	I hope you are enjoying this class ****

In [ ]:
my_list = [5,3,-1,7,0]

In [ ]:
my_list

[5, 3, -1, 7, 0]

In [ ]:
result = 0
for i in my_list:
    # print("Item Value:",i)
    result = result + i
    # result = result * i # Similar case -- comment above line and try this
    # print("Result: ", result)
# End of for loop
print("-------")
print("Addition of list items value:", result)

-------
Addition of list items value: 14

In [ ]:
output_list = []
result = 0
for i in my_list:
    # print("Item Value:",i)
    result = result + i
    # print("Result: ", result)
    output_list.append(result)
# End of for loop
print(output_list)

[5, 8, 7, 14, 14]