In [2]:
def sum_if_less_than_fifty(num_one, num_two):
    sum = num_one + num_two
    if sum < 50:
        return sum
    else:
        return None

In [6]:
result = sum_if_less_than_fifty(20, 25)
print(result)

45

In [8]:
result = sum_if_less_than_fifty(20, 30)
print(result)

None

In [10]:
result = sum_if_less_than_fifty(20, 100)
print(result)

None

In [18]:
num_one = 20
num_two = 20
print("num_one: ", num_one)
print("num_two: ", num_two)
result = sum_if_less_than_fifty(num_one, num_two)
print("Output: ", result)

num_one:  20
num_two:  20
Output:  40

In [20]:
num_one = 20
num_two = 30
print("num_one: ", num_one)
print("num_two: ", num_two)
result = sum_if_less_than_fifty(num_one, num_two)
print("Output: ", result)

num_one:  20
num_two:  30
Output:  None

In [22]:
num_one = 20
num_two = 100
print("num_one: ", num_one)
print("num_two: ", num_two)
result = sum_if_less_than_fifty(num_one, num_two)
print("Output: ", result)

num_one:  20
num_two:  100
Output:  None

In [46]:
def sum_if_less_than_fifty(num_one, num_two):
    sum = num_one + num_two
    return sum if (sum < 50) else None

In [26]:
sum = 10
if sum < 50:
    print(sum)
else:
    print(None)

10

In [30]:
print(sum) if sum < 50 else print(None)

10

In [32]:
if sum % 2 == 0:
    sum = sum * 2
else:
    sum = sum * 5

In [42]:
sum = 11
print(sum)

11

In [44]:
sum * 2 if (sum % 2 == 0) else sum * 5

55

In [48]:
def sum_if_less_than_fifty(num_one, num_two):
    sum = num_one + num_two
    return sum if (sum < 50) else None

In [50]:
result = sum_if_less_than_fifty(20, 25)
print(result)

45

In [52]:
result = sum_if_less_than_fifty(20, 30)
print(result)

None

In [54]:
result = sum_if_less_than_fifty(20, 100)
print(result)

None

In [ ]:
Nandini - Nndn
Vijaya --  Vjy

In [ ]:
vowels -- a, e, i, o, u